html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

div {
    min-height: 150px;
}

div:nth-child(odd) {
    width: 75%;
}

div:nth-child(even) {
    width: 50%;
}

.child_1 {
    background: #55B3B9;
}

.child_2 {
    background: #C56060;
}

.child_3 {
    margin-top: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    color: rgba(34, 34, 34, 0.62);
    text-align: center;
    background: #8FC091;
}

.child_4 {
    background: #8F86AF;
}

h1 {
    font-weight: 900;
    font-size: 3.5em;
    padding-top: 10px;
    margin: 10px 0 -10px 10px;
}

h2:not(.child_4) {
    font-size: 2.625em;
    margin: 0 0 25px 9px;
}
.child_1 h2{
    font-weight: 500;
}
.child_3 h2 {
    font-size: 1.5em;
}

h3 {
    font-family: 'Sail', cursive;
    font-weight: 400;
}

div:nth-child(even) {
    color: rgba(34, 34, 34, 0.69);
}

div:nth-child(even) h2 {
    margin: 10px 0 0 10px;
    padding-top: 10px;
}

div:nth-child(even) h3 {
    font-size: 1.75em;
    margin: 0 0 59px 10px;
}

div:nth-child(odd) h2 {
    margin: 10px 0 0 10px;
}

div:nth-child(odd) h3 {
    font-size: 1.125em;
    text-decoration-line: underline;
    margin: 0 0 94px 10px;
}

div:nth-child(even) {
    text-decoration-line: line-through;
    color: rgba(46, 46, 46, 0.42);
}

div:nth-child(even) h2 {
    font-size: 2.625em;
    font-weight: 800;
    padding-top: 10px;
    margin: 10px 0 0 10px;
}

div:nth-child(even) h3 {
    font-size: 1.75em;
    margin: 0 0 59px 10px;
}

div:hover {
    font-size: 2rem;
}